---
layout: default
---

<main class="content" role="main">

    <header class="blog-header">
        <h1 class="blog-title">{{ site.name }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
    </header>
  
    <div class="global-note">
        {% for link in site.data.about %}
            <a href="{{ link.link }}" class="button icon--about">{% include icon-{{ link.icon }}.html %} {{ link.name}}</a>
        {% endfor %}
    </div>
    
    <div class="card-container">
        <div class="card-flex">
            <h2 class="post-title">Latest Project</h2>
            <div class="card">
                
                {% if site.data.projects.first.image %}
                <div class="card__background">
                    <div class="card__image">
                        <amp-img noloading="" width="300px" height="300px" src="{{site.baseurl}}/{{site.data.projects.first.image}}" layout="responsive">
                    </div>
                </div>
                {% endif %}

                <div class="card__content">
                    <h4 class="card__title">{{site.data.projects.first.name}}</h4>
                    <p>{{site.data.projects.first.description}}</p>
                </div>
                <div class="card__action">
                    {% for link in site.data.projects.first.links %}
                    <a href="{{link.path}}">{{link.name}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card-flex">
            <h2 class="post-title">Latest Posts</h2>
            <div class="blog">
                <div class="blog__tabs">
                    {% for post in site.posts limit:3 %}
                    <a class="blog__tab" href="{{ site.baseurl }}{{ post.url }}" itemprop="url">
                        <h3 class="blog__title">{{ post.title }}</h3>
                        <div class="blog__subtitle">{{ post.date | date_to_long_string }}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</main>

{% include footer.html %}
