.global-note {
    text-align: center;
    padding: 1em;
    background-color: #2196F3;
    color: #fff;
    font-style: italic;
    z-index: 1;
    position: relative;
}

.button {
    background: #fff;
    color: #000;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 2px;
    font-style: normal;
    margin: 3px;
    text-decoration: none;
}
