.global-note {
    text-align: center;
    padding: 1em;
    background-color: #2196F3;
    color: #fff;
    font-style: italic;
    z-index: 1;
    position: relative;
}

.button {
    background: #fff;
    color: #000;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 2px;
    font-style: normal;
    margin: 3px;
}

.right-arrow {
    position: relative;
    top: calc(50% - 4em);
    text-align: center;
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.5em solid #333;
    border-radius: 50%;
    margin-left: 1.5em;
}

.right-arrow:after {
    content: '';
    display: inline-block;
    margin-top: 1.05em;
    margin-left: -0.6em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid #333;
    border-right: 0.5em solid #333;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
