<div class="card-container">
    <div class="card">
      <div class="card__image">
        <img noloading="" width="250" height="241" src="{{site.baseurl}}/assets/images/hex23ds.jpg" class="i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-layout">
      </div>
      <div class="card__content">
        <h4 class="card__title">Hex23DS</h4>
        <p>Extract 3DS version from firmware file. Input hex value, or drag-drop firmware file.</p>
      </div>
      <div class="card__action">
        <a href="https://www.ampproject.org/docs/get_started/about-amp.html">Download JAR</a>
        <a href="https://www.ampproject.org/docs/get_started/about-amp.html">GitHub</a>
      </div>
    </div>
</div>